/* General */
.nav-div{
    background-color: white;
}
main{
    margin: 1%;
}
header{
    background-color: #55B8E6;
}
.footer-div{
    background-color: white;
}
body{
    background-image: url(../images/stockphoto.jpg);
}
.bg-1{
    background-color: #55B8E6;
}
.bg-2{
    background-color: white;
}
.outer-wrapper{
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
    background-color: blue;
}

/* Links */
.footer-nav-link {
    /* For Future Styling */
}
.footer-nav-link:hover {
    color: black !important;
}
.contact-email:hover{
    text-decoration: underline!important;
}
.card-nav-link {
    color: #6c757d;
    text-decoration: none!important;
}
.card-nav-link:hover {
    color: black !important;
    text-decoration: underline!important;
}
.nav-nav-link{
    /* For Future Styling */
}
.nav-nav-link:hover {
    color: black !important;
}