/* General */
main{
    margin: 1%;
}
body{
    background-image: url(../images/background.jpg);
	position: top;
	border-image-repeat: no-repeat;
	background-size: cover;
    font-family:Arial, Helvetica, sans-serif !important;
}
.outer-wrapper{/* revisit */
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
}

/* bg classes */
.bg-1{
    background-color: #55B8E6 !important;
    color: white !important;
}
.bg-2{
    background-color: white !important;
    color: black !important;
}

/* Links */
.bg-1-link{
    color: #6c757d !important;
    border-bottom: 2px solid transparent !important;
    text-decoration: none !important;
}
.bg-1-link:hover{
    color: white !important;
    border-bottom: 2px solid white !important;
}
.bg-2-link{
    color: #6c757d !important;
    border-bottom: 2px solid transparent !important;
    text-decoration: none !important;
}
.bg-2-link:hover{
    color: #55B8E6 !important;
    border-bottom: 2px solid #55B8E6 !important;
}

/* Contact Links Custom */
.contact-link{
    text-decoration: none;
    color: #6c757d !important;
}
.contact-link:hover{
    color: white !important;
    text-decoration: underline;
}

/* Active Links Custom */
.active-custom{
    color: #55B8E6 !important;
    border-bottom: 2px solid #55B8E6 !important;
}

/* Game Links */
.game-list-custom{
    list-style-type: square !important;
}

/* Carousel Links */
.carousel-link {
    pointer-events: auto;
    z-index: 2;
    position: relative;
}
